Repository rki-mf1/omnifluss, pull requests merged in 2025-08, with the labels that each got.

#139 improved test for local subworkflow
  nf-test.config
  subworkflows/local/fastq_taxonomic_filtering_all/main.nf
  subworkflows/local/fastq_taxonomic_filtering_all/tests/fastq.nextflow.config
  subworkflows/local/fastq_taxonomic_filtering_all/tests/main.nf.test
  subworkflows/local/fastq_taxonomic_filtering_all/tests/main.nf.test.snap
  subworkflows/local/fastq_taxonomic_filtering_all/tests/nextflow.config
Labels: Ready for merging, nf-test

#149 updated how empty gz files are recognized
  lib/FileCheck.groovy
  modules.json
  modules/nf-core/kraken2/kraken2/environment.yml
  modules/nf-core/kraken2/kraken2/main.nf
  modules/nf-core/kraken2/kraken2/meta.yml
  modules/nf-core/kraken2/kraken2/tests/main.nf.test
  modules/nf-core/kraken2/kraken2/tests/main.nf.test.snap
  modules/nf-core/kraken2/kraken2/tests/tags.yml
  modules/nf-core/krakentools/extractkrakenreads/environment.yml
  modules/nf-core/krakentools/extractkrakenreads/main.nf
  modules/nf-core/krakentools/extractkrakenreads/meta.yml
  modules/nf-core/krakentools/extractkrakenreads/tests/main.nf.test
  modules/nf-core/krakentools/extractkrakenreads/tests/main.nf.test.snap
  modules/nf-core/krakentools/extractkrakenreads/tests/tags.yml
  subworkflows/local/fastq_taxonomic_filtering_all/main.nf
  subworkflows/local/fastq_taxonomic_filtering_all/meta.yml
  subworkflows/local/fastq_taxonomic_filtering_all/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_extract_kraken_krakentools/main.nf
  subworkflows/nf-core/fastq_extract_kraken_krakentools/meta.yml
  subworkflows/nf-core/fastq_extract_kraken_krakentools/tests/fastq.nextflow.config
  subworkflows/nf-core/fastq_extract_kraken_krakentools/tests/includeparents.nextflow.config
  subworkflows/nf-core/fastq_extract_kraken_krakentools/tests/main.nf.test
  subworkflows/nf-core/fastq_extract_kraken_krakentools/tests/main.nf.test.snap
  subworkflows/nf-core/fastq_extract_kraken_krakentools/tests/tags.yml
Labels: enhancement

#160 Milestone v0.2.1
  .nf-core.yml
  CHANGELOG.md
  bin/inv_report.rmd
  nextflow.config
  ro-crate-metadata.json
  subworkflows/local/fastq_taxonomic_filtering_all/main.nf
  subworkflows/local/inv_reporting_all/tests/main.nf.test.snap
  tests/default.nf.test.snap
  tests/inv_empty_spa.nf.test.snap
Labels: INV
